{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}
{% block h1%} {{ title }} {% endblock %}
{% block body %}
    {% if items %}        
    <div class="container">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Datum a čas prodeje</th>
                    <th>Cena</th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.drinkOrder.date|date('j.n.Y G:i') }}</td>
                    <td>{{ item.price }} Kč</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfooter>
                <tr>
                    <td><strong>Souhrn - počet položek: {{ sum['number'] }}</strong></td>
                    <td><strong>Součet: {{ sum['sum'] }} Kč</strong></td>
                </tr>
            </tfooter>
        </table>
        {{ include('paginator/pager.html.twig', {'links': links}) }}    
    </div>
    {% endif %}        
{% endblock %}

